# Ignore Rproject files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore data files
data/

# Ignore output files
output/
*.html

# Ignore testing scripts
scripts/scraps/

# Ignore common binary files
*.zip
*.pdf
*.doc*
*.od*
